<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Promoções</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <main>
        <h2> Atualizar Promoção</h2>
        <section id="alterpromos">
            <form id="form-promocao">
                <!-- Iniciando primeira -->
                <div class="row">
                    <input value="<%= promocao.id %>" aria-hidden="true" type="hidden" id="txtid" name="txtid">
                    <div class="col">
                        <label for="txtnomepromo" class="form-label">Nome da Promoçao</label>
                        <input value="<%= promocao.nome_promo %>" type="text" class="form-control" name="txtnomepromo"
                            id="txtnomepromo" tabindex="1" autofocus>
                    </div>
                    <div class="col">
                     <label for="seldescpromo" class="form-label">Desconto</label>
                     <select name="seldescpromo" id="seldescpromo" class="form-control" tabindex="2">

                        <% for(let desconto of descontos){ if(promocao.valorDesconto == desconto.valor){ %>
                            <option id="option" value="<%= desconto.id %>" selected><%= desconto.valor %></option>
                         <% }else{ %>
                            <option id="option" value="<%= desconto.id %>" ><%= desconto.valor %></option>
                         <% } } %>
                    </select>
                    </div>
                    
                </div>
                <!-- Iniciando segunda linha -->
                <div class="row mt-4">
                    <div class="col">
                        <label for="dtstartpromo" class="form-label">Inicio da Promoção</label>
                        <% let startDateFormatted = promocao.dt_start ? new Date(promocao.dt_start).toISOString().split('T')[0] : ''; %>
                        <input value="<%= startDateFormatted %>" type="date" class="form-control" name="dtstartpromo"
                            id="dtstartpromo" tabindex="3">
                    </div>
                    <div class="col">
                        <label for="dtendpromo" class="form-label">Fim da Promoção</label>
                        <% let endDateFormatted = promocao.dt_end ? new Date(promocao.dt_end).toISOString().split('T')[0] : ''; %>
                        <input value="<%= endDateFormatted %>" type="date" class="form-control" name="dtendpromo"
                            id="dtendpromo" tabindex="4">
                    </div>

                        <div class="col ">
                            <p class="form-label">Promoção ativa?</p>
                           <% if( promocao.ativa == 1 ){  %>

                            <select name="ativapromo" id="ativapromo" class="form-control" tabindex="7">
                                <option value="1">Sim</option>
                                <option value="0">Não</option>
                            </select>
                            <% } else{ %>
                                <select name="ativapromo" id="ativapromo" class="form-control" tabindex="7">
                                <option value="0">Não</option>
                                <option value="1">Sim</option>
                            </select>
                            <% } %>
                        </div>


                        <div class="row"><div class="col">
                    <label for="txtdescpromo" class="form-label">Descrição</label>
                    <input value="<%= promocao.descr_promo %>" type="text" class="form-control" name="txtdescpromo"
                        id="txtdescpromo" tabindex="7" style="width: 100%; height: 200px;" >
                </div></div>
                

                <div class="row">
                    <a href="/promocao/lista" onclick="atualizar();">
                         <input type="button" class="btn btn-warning mt-4" value="Cadastrar" name="btcadcupons" id="btcadcupons" tabindex="5">
                     </a>
                 </div>
            </form>
        </section>
    </main>
    <script>


        document.getElementById("form-promocao").addEventListener("submit", (e) => {
                    e.preventDefault()
                    atualizar()
                } )
        
                async function atualizar(){
        
                    const promocao = {
                        "id":document.getElementById("txtid").value,
                    "nome":document.getElementById("txtnomepromo").value,
                    "dt_start": document.getElementById("dtstartpromo").value,
                   "dt_end": document.getElementById("dtendpromo").value,
                   "descr_promo": document.getElementById("txtdescpromo").value,
                    "ativa":document.getElementById("ativapromo").value,
                    "desconto":document.getElementById("seldescpromo").value
                        
                    }
        
                      
                    const resposta = await fetch('/promocoes/alterar', { 
                        method:'PUT',
                        headers: {
                            'Content-Type':'application/json'
                        },
                        body: JSON.stringify(promocao)
                     })
                    const json = await resposta.json()
                    const status = await json
        
                    console.log(promocao)

                    res.redirect('/promocao/lista')
        
                }
        
            </script>
            
    <script>

        // document.getElementById("form-promocao").addEventListener("submit", (e) => {
        //     e.preventDefault()
        //     atualizar()
        // })

        // async function atualizar() {

        //     const promocao = {
        //         "id": document.getElementById("txtid").value,
        //         "nome_promo": document.getElementById("txtnomepromo").value,
        //         "dt_start": document.getElementById("dtstartpromo").value,
        //         "dt_end": document.getElementById("dtendpromo").value,
        //         "descr_promo": document.getElementById("txtdescpromo").value,
        //         "ativa": document.getElementById("radioativapromonao").value,
        //         "desc_promo": document.getElementById("seldescpromo").value
                
        //     }


        //     const resposta = await fetch(`/promocao/alterar`, {
        //         method: 'PUT',
        //         headers: {
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify(promocao)
        //     })
        //     const json = await resposta.json()
        //     const status = await json

        //     console.log(promocao)
        //     window.location.href = "/promocao/lista"
      

        // }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>