<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listando Atrativos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <main>

        <section id="alteratrativos">
            <h2>Alterar Atrativos</h2>
            <form method="post" action="/atrativos" enctype="multipart/form-data">

                <!-- Iniciando primeira -->
                <div class="row">
                    <input value="<%= r.id %>" aria-hidden="true" type="hidden" id="txtid" name="txtid">
                    <div class="col">
                        <label for="txtnomeatrat" class="form-label">Nome atrativo</label>
                        <input value="<%= r.nome %>" type="text" class="form-control" name="txtnomeatrat" id="txtnomeatrat" tabindex="1"
                            autofocus>
                    </div>
                    <div class="col">
                        <label for="txtlatrat" class="form-label">Latitude</label>
                        <input value="<%= r.latitude %>" type="text" class="form-control" name="txtlatrat" id="txtlatrat"
                            tabindex="2">
                    </div>
                    <div class="col">
                        <label for="txtlongatrat" class="form-label">Longitude</label>
                        <input value="<%= r.longitude %>" type="text" class="form-control" name="txtlongatrat" id="txtlongatrat"
                            tabindex="3">
                    </div>
                </div>
                <!-- Iniciando segunda linha -->
                <div class="row mt-4">
                    <div class="col m-4">
                        <label for="imagem" class="form-label">Imagem </label>
                        <input type="file" name="imagem" id="imagem" class="form-control" tabindex="4"
                            value="<%= r.imagem %>">
                    </div>

                    <label for="txtdescatrat">Descrição</label>
                    <textarea name="txtdescatrat" id="txtdescatrat" cols="" rows="10" value="<%= r.descricao %>"
                        class="form-control" tabindex="5"><%= r.descricao %></textarea>
                </div>

                <div class="row">

                    <input type="submit" class="btn btn-warning mt-4" value="Cadastrar" name="btcadcupons"
                        id="btcadcupons" tabindex="5">


                </div>
            </form>
        </section>

    </main>
    <script>

     


        // async function enviar() {

        //     const data = {
        //         "nome": document.getElementById("txtnomeatrat").value,
        //         "lat": document.getElementById("txtlatrat").value,
        //         "long": document.getElementById("txtlongatrat").value,
        //         "imagem": document.getElementById("imagem").value,
        //         "descricao": document.getElementById("txtdescatrat").value,
        //         "id": document.getElementById("txtid").value
        //     }

        //     const dados = await fetch('/atrativo', {
        //         method: 'PUT',
        //         headers: {
        //             'Accept': 'application/json',
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify(data)

        //     })
        //     const json = await dados.json()
        //     const atrativos = await json
        //     alert()
        // }


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>